<header class="header">
  <div class="header-container">
    <a href="./" class="logo-link">
      <img src="./assets/icons/ui/dynamics/logo-black.png" alt="Dynamics IT" />
    </a>

    <button class="menu-toggle" type="button" aria-label="Abrir menú">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav-menu" aria-label="Navegación principal">
      <ul class="menu-list">
        <li class="menu-item dropdown">
          <button class="menu-link dropdown-toggle" type="button">Explorar</button>
          <ul class="submenu">
            <li><a href="./about/" class="submenu-link">Acerca de nosotros</a></li>
            <li><a href="./stories/" class="submenu-link">Historias de éxito</a></li>
          </ul>
        </li>

        <li class="menu-item dropdown">
          <button class="menu-link dropdown-toggle" type="button">Productos</button>
          <ul class="submenu">
            <li><a href="./dynamics/" class="submenu-link">Dynamics 365</a></li>
            <li><a href="./microsoft/" class="submenu-link">Microsoft 365</a></li>
            <li><a href="./rmh/" class="submenu-link">RMH Solutions</a></li>
          </ul>
        </li>

        <li class="menu-item dropdown">
          <button class="menu-link dropdown-toggle" type="button">Soporte</button>
          <ul class="submenu">
            <li>
              <a
                href="https://dynamicsitsa.freshdesk.com/support/home"
                class="submenu-link"
                target="_blank"
                rel="noopener noreferrer">
                SAC
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
